# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {

    item_ganysnether_blazeBoots {
        S:01.ID=ganysnether:blazeBoots
        D:"02.Temp Add - Night"=5.0
        D:"02.Temp Add - Shade"=5.0
        D:"02.Temp Add - Sun"=5.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=-0.02
        D:09.Air=-0.05
    }

    item_ganysnether_blazeChestplate {
        S:01.ID=ganysnether:blazeChestplate
        D:"02.Temp Add - Night"=5.0
        D:"02.Temp Add - Shade"=5.0
        D:"02.Temp Add - Sun"=5.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=-0.02
        D:09.Air=-0.05
    }

    item_ganysnether_blazeHelmet {
        S:01.ID=ganysnether:blazeHelmet
        D:"02.Temp Add - Night"=5.0
        D:"02.Temp Add - Shade"=5.0
        D:"02.Temp Add - Sun"=5.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=-0.02
        D:09.Air=-0.05
    }

    item_ganysnether_blazeLeggings {
        S:01.ID=ganysnether:blazeLeggings
        D:"02.Temp Add - Night"=5.0
        D:"02.Temp Add - Shade"=5.0
        D:"02.Temp Add - Sun"=5.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=-0.02
        D:09.Air=-0.05
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {
}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {
}


