# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {

    helmetLeather {
        S:01.ID=minecraft:leather_helmet
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    plateLeather {
        S:01.ID=minecraft:leather_chestplate
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    legsLeather {
        S:01.ID=minecraft:leather_leggings
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    bootsLeather {
        S:01.ID=minecraft:leather_boots
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_hardenedleatherhelmItem {
        S:01.ID=harvestcraft:hardenedleatherhelmItem
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_hardenedleatherchestItem {
        S:01.ID=harvestcraft:hardenedleatherchestItem
        D:"02.Temp Add - Night"=2.0
        D:"03.Temp Add - Shade"=2.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_hardenedleatherleggingsItem {
        S:01.ID=harvestcraft:hardenedleatherleggingsItem
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_hardenedleatherbootsItem {
        S:01.ID=harvestcraft:hardenedleatherbootsItem
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_natura_armor_imphelmet {
        S:01.ID=Natura:natura.armor.imphelmet
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_natura_armor_impjerkin {
        S:01.ID=Natura:natura.armor.impjerkin
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_natura_armor_impleggings {
        S:01.ID=Natura:natura.armor.impleggings
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_natura_armor_impboots {
        S:01.ID=Natura:natura.armor.impboots
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_for_apiaristHelmet {
        S:01.ID=Forestry:apiaristHelmet
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_for_apiaristChest {
        S:01.ID=Forestry:apiaristChest
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_for_apiaristLegs {
        S:01.ID=Forestry:apiaristLegs
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_for_apiaristBoots {
        S:01.ID=Forestry:apiaristBoots
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_railcraft_armor_overalls {
        S:01.ID=Railcraft:armor.overalls
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_tconstruct_travelgoggles {
        S:01.ID=TConstruct:travelGoggles
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_tconstruct_travelvest {
        S:01.ID=TConstruct:travelVest
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_tconstruct_travelboots {
        S:01.ID=TConstruct:travelBoots
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_tconstruct_travelwings {
        S:01.ID=TConstruct:travelWings
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

    item_mfr_armor_boots_plastic {
        S:01.ID=MineFactoryReloaded:item.mfr.armor.boots.plastic
        D:"02.Temp Add - Night"=2.0
        D:"02.Temp Add - Shade"=1.0
        D:"02.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.025
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {
}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {
}


